*{
    padding: 0;
    margin: 0;
    
}

/*Background*/
.header{
    position:relative;
    top: 40px;
/*     bottom 30px; */
    font-family: 'Montserrat', sans-serif;
    height: 200px;
}


/*Menu*/
.menu{
    display: flex;
}
.menu div{
    margin-right: 66px;
    width: auto;
    height: auto;
}
.menu a{
    color: black;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s linear;
    vertical-align: top;
    position: relative;
    z-index: 2;
}
.container div{
    /* z-index: 2; */
}
.menu a:hover {
    color:#E5C755 ;
}
.container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 170px;
    top: -40px;
    margin: 0 auto;
}
.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}

.logo{
    z-index: 3;
}
.basket img{
    position: relative;
    z-index: 2;
    width: 40px;}



/* MAIN--------------------------------*/

main{
	width: 100%;
        background-color: #E5C755;
	padding-bottom: 60px;
}

.container_video {
	display: flex;
	flex-direction: column;
	max-width: 1300px;
	padding-top: 50px;
	margin: 0px auto;
}
.video{
	margin: 0 auto;
	width: 950px;
	height: auto;

}

video {
	outline: none;
	margin-top: 20px;
	width: 100%;
  	max-height: 100%;
}

.main_names {
    font-family: 'Kaushan Script', cursive;
	padding-top: 110px;
	font-size: 60px;
	font-weight: 500;
	color: #000000;
	display: flex;
	justify-content: center;
	text-align: center;
}


.name{
	width: 100%;
	display: flex;
	border-bottom: 2px solid white;
	padding-top:30px;
    justify-content: center;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.name p{
	padding-left:30px;
	color: white;
	font-weight: 600;
	font-size: 23px;
}

.line{
    width: 100%;
    height: 7px;
    border-radius: 20px;
    margin: 30px 0px;
    background-color: #ffffff;
}


    /* Footer------------------------- */
.footer{
    display: flex;
    background-color: black;
    justify-content: space-between ;
}
.email{
    display: flex;
    /* border:2px solid tomato; */
    align-self: center;
    padding: 10px 30px;
}
.email a{
    color:white;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s linear ;
}
.email a:hover {
    color:#E5C755 ;
}
.social_networks{
    display: flex;
    /* border:2px solid red; */
    padding: 10px 30px;
}
.youtube, .facebook, .instagram, .linkedin{
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    margin-right: 20px;
}
.header_burger{
    display: none;
}

/*----------Mobile-------------*/
@media (max-width: 1085px){
    .video {
		width: 700px;
		height: 371px;
	}
	.container_video {
		max-width: 970px;
	}
    .header_burger{
        display: block;
        display: flex;
        justify-content: flex-end;
        position: relative;
        top:right;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    transition: all 0.3s ease 0s;
    }
    .header_burger:before{
        top:0;
    }
    .header_burger:after{
        bottom: 0;
    }
    .header_burger.active::before
    {
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after
    {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_burger.active span
    {
        transform: scale(0);
    }
    .menu.active{
        top: 70px;
    }
    .menu{
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #E5C755;
        padding: 110px 10px 10px 20px;
        transition: all 0.3s ease 0s;
    }
    
    .menu_link{
        margin: 0px 0px 20px 0px;
    }
    .basket{
      display: none;
    }
}


@media (max-width: 974px){
    .container_video {
		max-width: 750px;
	}
}
@media (max-width: 778px){
    .name{
		font-size: 10px;
	}
	.name p{
		font-size: 15px;
	}
	.video {
		width: 300px;
		height: 159px;
	}
	.container_video {
		padding-top:20px;
		max-width: 320px;
	}
	
	.main_names {
		padding-top:90px;
		font-size: 19px;
	}
    .youtube, .facebook, .instagram, .linkedin{
        max-width: 20px; 
        max-height: 20px;
        margin-right: 5px;
    }
    .email a{
        font-size: 10px
    }
    .email{
        padding: 5px 15px;
    }
    .social_networks{
        padding: 5px 15px;
    }


}

