*{
    padding: 0;
    margin: 0;
    
}

/*Background*/
.header{
    position:relative;
    top: 40px;
/*     bottom 30px; */
    font-family: 'Montserrat', sans-serif;
    height: 200px;
}


/*Menu*/
.menu{
    display: flex;
}
.menu div{
    margin-right: 66px;
    width: auto;
    height: auto;
}
.menu a{
    color: black;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s linear;
    vertical-align: top;
    position: relative;
    z-index: 2;
}
.container div{
    /* z-index: 2; */
}
.menu a:hover {
    color:#E5C755 ;
}
.container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 170px;
    top: -40px;
    margin: 0 auto;
}
.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}

.logo{
    z-index: 3;
}
.basket img{
    position: relative;
    z-index: 2;
    width: 40px;}



/* MAIN--------------------------------*/
main{
	width: 100%;
    background-color: #E5C755;
	padding-bottom: 60px;
}
h5 {
	padding: 80px 0px 20px 0px;
    font-family: 'Kaushan Script', cursive;
	color: #ffffff;
	font-size: 50px; 
	font-weight: 500;
	width: 100%;
	display: flex;
	justify-content: center;
}

.container_coffe{
	display: flex;
	width: 1300px;
	margin: 0 auto;
	margin-top: 20px;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

.block_coffe{
    background: linear-gradient(to top left, powderblue, pink);
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-shrink: 0px;
	box-sizing: border-box;
	flex-direction: column;
	border-radius: 20px;
	transition: padding 1s ease 0s;
}

.block_coffe:hover{
	padding: 0 15px 0 15px;
    border-radius: 20px;
    border-radius: 20px;
    border-radius: 20px;
    box-shadow:inset black 0 0 10px;
     box-shadow:inset black 0 0 10px;
    box-shadow:inset black 0 0 10px;
}

.drink_name{
    font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 600;
	padding: 15px;
	color: #ffffff;
}

.icon_place {
	padding-left: 20px;
	width: 50px;
}

.coffe_icon{
	width: 250px;
	margin: 0 0 10px 0;
	transition: width 1s ease 0s;
}

.coffe_icon:hover{
	width: 290px;
}

.block_coffe p{
	font-size: 20px;
	font-weight: 600;
}

.price{
	display: inline;
    font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	padding-bottom: 10px;
	color: white;
}
    /* Footer------------------------- */
.footer{
    display: flex;
    background-color: black;
    justify-content: space-between ;
}
.email{
    display: flex;
    /* border:2px solid tomato; */
    align-self: center;
    padding: 10px 30px;
}
.email a{
    color:white;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s linear ;
}
.email a:hover {
    color:#E5C755 ;
}
.social_networks{
    display: flex;
    /* border:2px solid red; */
    padding: 10px 30px;
}
.youtube, .facebook, .instagram, .linkedin{
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    margin-right: 20px;
}
.header_burger{
    display: none;
}

/*----------Mobile-------------*/
@media (max-width: 1085px){
    .header_burger{
        display: block;
        display: flex;
        justify-content: flex-end;
        position: relative;
        top:right;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    transition: all 0.3s ease 0s;
    }
    .header_burger:before{
        top:0;
    }
    .header_burger:after{
        bottom: 0;
    }
    .header_burger.active::before
    {
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after
    {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_burger.active span
    {
        transform: scale(0);
    }
    .menu.active{
        top: 70px;
    }
    .menu{
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #E5C755;
        padding: 110px 10px 10px 20px;
        transition: all 0.3s ease 0s;
    }
    
    .menu_link{
        margin: 0px 0px 20px 0px;
    }
    .basket{
      display: none;
    }
}


@media (max-width: 1460px) {
	.container_coffe{
		max-width: 965px;
	}
	.coffe_icon{
		width:200px;
	}
	.block_coffe p{
		font-size: 15px;
	}
}
@media (max-width: 974px){
	.container_coffe{
		max-width: 700px;
	}
    h5{
		font-size: 28px;
	}   
}
@media (max-width: 778px){
    .container_coffe{
		width: 300px;
	}
	.block_coffe {
		margin: 30px;
		font-size: 14px;
	}
    .youtube, .facebook, .instagram, .linkedin{
        max-width: 20px; 
        max-height: 20px;
        margin-right: 5px;
    }
    .email a{
        font-size: 10px
    }
    .email{
        padding: 5px 15px;
    }
    .social_networks{
        padding: 5px 15px;
    }


}

@media (max-width: 575px){
h5{
    font-size: 20px;
}
}